*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 1140px;
    margin: 0 auto;
}
.promo{
    height: 800px;
    background: url('../img/main.jpg') center center/ cover /* растяжение картинки на весь блок */ no-repeat;
    padding: 39px 0 62px 0;
}
.logo .logo_img{
    display: block;
    margin: 0 auto;
}
.logo .sova_text{
    font-family: Roboto; /* семейство шрифтов */
    font-weight: 500;
    font-size: 15px;
    line-height: 24px; /* межстрочный интервал */
    color: #FFFFFF;
    text-transform: uppercase; /* перевод текста в верхний регистр */
    text-align: center;
    margin-top: 14px;
}
h1{
    margin-top: 100px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 41px;
    line-height: 41px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.main2{
    height: 800px;
    background: url('../img/main2.jpg') center center/cover no-repeat;
}
.cnt2{
    width: 1140px;
    margin: 0 auto;

}
