body{
    background-color: yellowgreen;
}
.Hello{
    color: violet;
    text-align: center;
    font-weight: 100;
}
.box{
    width: 1920px;
    height: 1080px;
    background-color:tomato;
    padding: 20px;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    margin: 10px;
}